DATABASE_URI=mongodb://127.0.0.1/your-database-name
PAYLOAD_SECRET=YOUR_SECRET_HERE


DATABASE_URI=mongodb://127.0.0.1/payload-doc
PAYLOAD_SECRET=e7437a3056ef8d68026c4d1b
DOMAIN_NAME=http://localhost:3000
# Added by Payload